/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-dic-2020, 21:11:21
    Author     : sergy
*/

.table-row-cell:empty {
    -fx-background-color: white;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}